* {
    box-sizing: border-box;
}

:root {
    --colour-page-background: grey;
    --colour-hover-valid: purple;
    --colour-hover-invalid: red;
    --colour-cell-background: white;
    --colour-miss: blue;
    --colour-ship-1: #474747;
    --colour-ship-2: #463838;
    --colour-ship-3: #3c4638;
    --colour-ship-4: #433846;
    --colour-ship-5: #7e6b83;
    --colour-ship-1-hit: grey;
    --colour-ship-2-hit: grey;
    --colour-ship-3-hit: grey;
    --colour-ship-4-hit: grey;
    --colour-ship-5-hit: grey;
    --colour-ships-background: white;
    --colour-ships-placed: #eee;
    --colour-ships-destroyed: grey;
    --colour-ships-placing: orange;
}

body {
    background-color: var(--colour-page-background);
}

.tile {
    width: 40vmin;
    height: 48vmin;
    display: grid;
    gap: 5px;
    background-color: white;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
}

.tile-header {
    border: 2px solid black;
    color: #433846;
}

.tile-board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    border: 1px solid black;
}

.tile-board > div {
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    font-size: 3vmin;
}

.tile-ships {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    border: 1px solid black;
}

.tile-ships > div {
    border: 1px solid black;
    font-size: 1.5vmin;
}
